.navbar {
    background-color: #1f1f1f;
    padding: 0.5rem 1rem;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
  }
  
  .navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
  }
  
  .navbar-item {
    margin: 0 1rem;
  }
  
  .navbar-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .navbar-link:hover {
    color: #ff0000;
  }
  
.container{
    display: flex;
    /* margin: 20px; */
}
